
header {
    color: rgb(238, 8, 8);
}

body {
    background-image: url(https://ak.picdn.net/shutterstock/videos/1867543/thumb/1.jpg);
    background-image: no-repeat;
    background-color: darkgrey;
    background-position-y: center;
}





.links {
    
}