
header {
    color: goldenrod;
    
}

.marsha {
    image-rendering: optimizeQuality;
}

body {
    background-color: rgb(5, 5, 85);
    background-position-y: center;
}

.personalInfo {
    color: white;
    background-color: rgb(210, 109, 79);
    
}

.committees {
    color: white;
    background-color: teal;
    padding-bottom: 5px;
    padding-top: 5px;
}


.link:hover {
    color: goldenrod;
    text-align: center;
    background-color: goldenrod;
    
}
.links {
    background-color: gray;
    color: white;
    /* padding-bottom: 4px;
    padding-top: 2px; */
}